
#timeline {
  list-style: none;
  position: relative;
}

.timeline-badge {
  color: #fff;
  width: 80px;
  height: 50px;
  font-size: 1.8em;
  font-weight: 900;
  text-align: center;
  position: relative;
  left:90%;
  top:75px;
  background-color: #4997cd;
  z-index: 100;
  border-radius: 50%;
}


.timelineBox {
  width:80vw;
  min-height:100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.timelineBox>* {
  width:85%;
}